<div id="view-root">

	<div id="left-section">

		<div id="user-top-bar">

			<div id="user-profile-pic">
				<a href="#"><img src="assets/images/user-profile-pic.png"/></a>
			</div>

			<div id="user-menu">
				<a href="#"><img src="assets/images/ic_menu_black.png"/></a>
			</div>

			<a href="#">
				<div id="notify-icon" class="notify-active">

				</div>
			</a>

		</div>


		<div id="buddy-search-bar">
			<input id="buddy-search-text-box" type="text" class="search-query" placeholder="Search buddy...">
		</div>


		<div id="buddy-list-container">

			<ul>

				<!-- <a href="#">
					<li>
						<img src="assets/images/pets.jpg"/>
						<h4>Rakshit</h4>
					</li>
				</a>

				<a href="#">
					<li>
						<img src="assets/images/pets.jpg"/>
						<h4>Malav</h4>
					</li>
				</a>

				<a href="#">
					<li>
						<img src="assets/images/pets.jpg"/>
						<h4>Rutvik</h4>
					</li>
				</a> -->

			</ul>

		</div>

	</div>



	<div id="right-section">

		<div id="buddy-top-bar">

			<div id="buddy-profile-pic-top">
				<img src="assets/images/user-profile-pic.png"/>
			</div>

			<div id="buddy-name-top">
				<h4>Rakshit</h4>
			</div>

			<div id="buddy-menu">
				<a href="#"><img src="assets/images/ic_menu_black.png"/></a>
			</div>

		</div>

		<div id="buddy-map">

			<input id="pac-input" class="controls" type="text" placeholder="Search Box">

			<div id="map-canvas">

			</div>

		<div id="buddy-map-options">

				
			<input id="location-search-text-box" type="text" class="search-query" placeholder="Search location...">
				

		</div>			

	</div>

</div>